<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <ul class="sidebar-nav">
                <li><a href="/catalog">Home</a></li>
                <li><a href="/catalog/books">All Books</a></li>
                <li><a href="/catalog/authors">All Authors</a></li>
                <li><a href="/catalog/genres">All Genres</a></li>
                <li><a href="/catalog/bookinstances">All Book Instances</a></li>
                <li><a href="/catalog/author/create">Create New Author</a></li>
                <li><a href="/catalog/genre/create">create New Genre</a></li>
                <li><a href="/catalog/book/create">Create New Book</a></li>
                <li><a href="/catalog/bookinstances/create">Create New Book Instance (copy)</a></li>
            </ul>
        </div>
    </div>
</div>