<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head', {title: title}); %>
  </head>
  <body>
    <%- include('./partials/sidebarNav'); %>
    <div class="col-sm-10">
      <h1><%= title %></h1>
      <form action="" method="POST">
        <label for="first_name">First Name: </label>
        <input id="first_name" class="form-control" type="text" placeholder="First Name" name="first_name" required>
        <label for="family_name">Family Name: </label>
        <input id="family_name" class="form-control" type="text" placeholder="Family Name" name="family_name" required>
        <label for="date_of_birth">Date Of Birth: </label>
        <input id="date_of_birth" class="form-control" type="date" placeholder="dd/mm/yyyy" name="date_of_birth">
        <label for="date_of_death">Date Of Death: </label>
        <input id="date_of_death" class="form-control" type="date" placeholder="dd/mm/yyyy" name="date_of_death">
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
    <ul>
        <% errors.forEach( error => { %>
            <li><%= error.msg %></li>
          <% }); %>
    </ul>
    </div>
  </body>
</html>